/* INICIO - ESTILOS TAGS */
b {
    color: black;
    font-size: 14px;
}

/* FIM - ESTILOS TAGS */

/* INICIO - Classes genéricas */
.wrapper {
    height: auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FIM - Classes genéricas */


/* INICIO - LEGENDA DAS MÉTRICAS */

.subtitle {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.subtitle div {
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding: 10px;
}

.subtitle div span img {
    vertical-align: middle;
}

/* FIM - LEGENDA DAS MÉTRICAS */


/* INICIO - GRÁFICOS */

.metrics {
    height: 150px;
    width: 20%;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
}

/* Seleção das fazendas */
#farm-list {
    height: 64px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.farm {
    height: 100%;
    width: auto;
    padding: 0 5px;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    user-select: none;
    cursor: pointer;
}

.farm-position {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    column-gap: 5px;
}

.farm-position h1 {
    pointer-events: none;
    white-space: nowrap;
}

.farm-position img {
    height: 13px;
    pointer-events: none;
}

#farm-content {
    background-color: #e5d0d0;
    padding: 10px;
    text-align: center;
}

.fill {
    height: 300px;
    width: 100%;
    background-color: #e5d0d0;
}

.fill span {
    font-size: 16px;
    padding: 0 20px 0 0;
}

/* Tabela com informações da fazenda */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #e5d0d0;
}

.box h2 {
    text-align: center;
    font-size: 27px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

:is(.box) table, th, td, thead {
    height: 20px;
    font-size: 15px;
    text-align: center;
    border: #00000021 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 1px solid #000;
}

.table-container {
    height: auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5d0d0;
}

tr {
    height: 30px;
}

td, th {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}


/* FIM - GRÁFICOS */