/* INICIO - ESTILOS TAGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    --cor-principal: #318d07;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    --header-height: 90px;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

main {
    height: 100%;
}

/* Tirando a seta do input:number no Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Tirando a seta do input:number no Firefox*/
input[type=number] {
    -moz-appearance: textfield;
}

/* FIM - ESTILOS TAGS */



/* INICIO - HEADER */
header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    background-image: linear-gradient(to right, var(--cor-principal), #43c51a, var(--cor-principal));
}

.wrapper {
    height: 100%;
    padding: 0 0 0 7.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    height: 65px;
}

.header-navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}

.header-nav-items {
    display: flex;
    font-size: 25px;
    align-items: center;
}

.header-nav-items li {
    cursor: pointer;
}

.header-nav-box {
    height: 100%;
    width: 20%;
    min-width: 170px;
    color: #ffffff;
    margin: 0 0 0 20px;
    font-size: 16px;
    background-color: #297406;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.header-nav-box:hover {
    background-color: #236106;
    color: #e6e6e6;
    transition: 250ms ease-in-out;
}

/* FIM - HEADER */


/* INICIO - Barra lateral */
.side-bar {
    position: fixed;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    height: 100%;
    width: 70px;
    background-color: #424242;
    box-shadow: 10px 0 0 #099c22;
    border-left: 10px solid #424242;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-bar:hover {
    width: 200px;
}

.side-bar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0 0 5px;
}

.side-bar ul li {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 20px 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-bar ul li a {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.side-bar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    width: 60px;
    text-align: center;
}

.side-bar ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.side-bar ul li a .icon .title {
    position: relative;
    display: block;
    padding: 0 0 0 10px;
    height: 60px;
    line-height: 50px;
}

.side-bar ul li.active {
    background-color: #099c22;
}

.side-bar ul li.active a::after {
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #424242;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #099c22;
}

.side-bar ul li.active a::before {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #424242;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #099c22;
}