/* INICIO- CADASTRO */

.header {
    position: static;
}

.sec-conteudo {
    height: 85vh;
    width: 100vw;
    background-color: #e9e9e9;
    padding: 1vh 0 0 0;
}

.art-box {
    border-radius: 10px;
    height: 90%;
    width: 70%;
}

.sec-beneficios {
    height: 100%;
    width: 60%;
    background-color: #75a0d3;
    border-radius: 10px 0 0 10px;
    align-items: flex-start;
}

.ul-beneficios {
    font-size: 16pt;
}

.cadastro-box {
    height: 100%;
    width: 60%;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    row-gap: 15px;
}

.input-container {
    width: 70%;
    height: 55%;
    position: relative;
}

.input-container>input {
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: solid 2px #dbdbdb;
    font-size: 14px;
    padding: 6px 0 6px 40px;
}

.label-input {
    top: 27px;
    left: 13px;
    width: 10px;
}

#label_senha, #label_conf_senha {
    left: 100%;
    width: 7%;
    cursor: pointer;
    position: absolute;
}

#label_conf_senha {
    top: 249px;
}

#label_senha {
    top: 194px;
}

.label-input {
    position: relative;
}

.input-container>input:hover, .input-container>input:focus {
    border: solid 2px #75a0d3;
}

.input-container>input:focus::placeholder {
    color: #b4b4b4;
}

.sec-beneficios>h1, .cadastro-box>h1 {
    font-size: 25pt;
}

.cadastro-box>p {
    font-size: 12pt;
}

.sec-beneficios>h1, .ul-beneficios, .sec-beneficios>p, .btn-login {
    color: #ffffff;
}

.art-box, .sec-conteudo, .sec-beneficios, .cadastro-box, .input-container {
    display: flex;
}

.sec-beneficios, .cadastro-box, .input-container {
    flex-direction: column;
}

.sec-conteudo, .sec-beneficios, .cadastro-box {
    align-items: center;
    justify-content: center;
}

.btn-login {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.btn-login:hover {
    background-color: #1661bdb2;
    border: 2px solid #cacaca;
}

.btn-cadastro {
    background-color: #75a0d3;
    color: #ffffff;
    border: none;
}

.btn-cadastro:hover {
    background-color: #1661bdd3;
}

.btn-cadastro:hover, .btn-login:hover, .input-container>input:hover {
    color: black;
    transition: 250ms ease-in-out;
}

.btn-login, .btn-cadastro {
    border-radius: 50px;
    width: 155px;
    height: 44px;
}

/* FIM- CADASTRO */