/* INICIO - SECTION 1 - Inicio */

#index {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#ffffffc9, #00000045), url(../assets/img/cloud.jpg) no-repeat center;
    background-size: cover;
}

.container {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0 0 0;
}

.box-left {
    width: 55%;
}

.box-left>h1 {
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2d5a00;
}

.box-left>p {
    font-size: 30px;
}

.box-right {
    border-radius: 10px;
    background-color: var(--cor-principal);
    width: 35%;
    padding: 20px;
}

.box-right>h1 {
    font-size: 35px;
    margin: 0 0 2px 0;
    font-weight: bold;
}

.box-right>p {
    padding: 1%;
    font-size: 20px;
}

.box-left, .box-right {
    height: auto;
    color: #ffffff;
    font-size: 35px;
}



/* FIM - SECTION 1 - Inicio */


/* INICIO - SECTION 2 - Calculadora */

#calculator {
    background: linear-gradient(#0017467a, #ebebeb24), url(../assets/img/campus.jpg) no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 0 0 78px 0;
}

#calculator .container {
    align-content: flex-end;
    flex-wrap: wrap;
    row-gap: 65px;
}

/* Estilizando o contexto da calculadora */
.context {
    width: 100%;
    column-gap: 80px;
    display: flex;
}

.context p {
    font-size: 20px;
}

.context .box-right {
    width: 40%;
    font-size: 4px;
    padding: 0;
    background-color: transparent;
}

.context h2 {
    font-size: 40px;
    text-align: center;
}

.calc-container {
    display: flex;
    border-radius: 20px 20px 0 0;
    background-color: #ffa500;
    height: 40%;
    width: 100%;
    padding: 40px 0;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

/* Informações sobre a calculadora - lado esquerdo */
.info {
    font-size: 18px;
    width: 50%;
    height: 100%;
    margin: 0 0 0 5%;
}

.info li {
    list-style: disc;
    margin: 5% 0 0 5%;
}

/* Calculadora - lado direito */
.calc-input {
    width: 45%;
    display: flex;
    align-items: center;
    row-gap: 15px;
    flex-direction: column;
}

.calc-input h1 {
    font-size: 30px;
    text-align: center;
}

.calc-input span {
    font-size: 16px;
    width: 80%;
    text-align: center;
}

.calc-input input {
    border-radius: 50px;
    width: 357px;
    background-color: #f5f5f5;
    border: solid 2px #dbdbdb;
    font-size: 14px;
    padding: 6px 14px 6px 40px;
}

.calc-input input:hover, .calc-input input:focus {
    border: solid 2px #75a0d3;
}

.calc-input input:focus::placeholder {
    color: #b4b4b4;
}

.btn-calc {
    background-color: #2a8727;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    width: 155px;
    height: 44px;
}

.btn-calc:hover {
    background-color: #53be50;
    color: black;
    transition: 250ms ease-in-out;
}

.system {
    margin: 0 auto;
    height: auto;
    width: 90%;
    background-color: #ffa500;
    border-radius: 0 0 20px 20px;
}


.sys-sample {
    font-size: 18px;
    display: flex;
    text-align: center;
}

.sys-sample figure {
    height: auto;
    width: 40%;
    margin: auto;
}

.sys-sample figure img {
    width: 100%;
    padding: 0 0 10px 0;
}

/* FIM - SECTION 2 - Calculadora */




/* INICIO - SECTION 3 - Sobre Nós */

/* Sobre a equipe/empresa */
#about {
    height: auto;
    padding: 60px 0 5% 0;
    width: 100%;
    background-image: url(../assets/img/sunset.jpg);
    background-size: cover;
}

#about .container {
    height: 90%;
    border-radius: 50px;
    padding: 0;
    background-color: #ffae00;
    flex-direction: column;
    justify-content: space-between;
}

.about-team {
    padding: 30px;
    height: auto;
    width: 85%;
}

.about-team h2 {
    text-align: center;
    font-size: 32px;

}

.about-team p {
    padding: 5px 0;
    width: 90%;
    font-size: 18px;
}

/* Foto dos membros */
.about-card {
    background-color: var(--cor-principal);
    border-radius: 0 0 50px 50px;
    height: 100%;
    padding: 40px 0;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
}

.about-card>h2 {
    font-size: 32px;
}

.team-pic {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.team-pic figure {
    margin: auto;
    font-size: large;
}

.people-card {
    background-color: #ffa500;
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

/* FIM - SECTION 3 - Sobre Nós */


/* INICIO - FOOTER - Contato */

#footer {
    background-color: var(--cor-principal);
    height: 50vh;
    width: 100%;
}

#footer .container {
    padding: 30px;
    flex-direction: column;
    color: #ffffff;
}

.footer-menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.menu-item {
    inline-size: 25%;
}

.menu-item>h4 {
    text-align: center;
    font-size: 20px;
}

.menu-item p {
    height: 100%;
    width: 100%;
    padding: 5%;
    font-size: 17px;
}

.copy {
    font-size: 15px;
    text-indent: 0;
}

/* FIM- FOOTER - Contato */



















/* Responsividade da página INDEX.html */

@media (max-width: 1149px) {

    /* Começo - Inicio */
    .box-left>p {
        font-size: 29px;
    }

    .box-right>p {
        padding: 1%;
        font-size: 19px;
    }

    .box-left, .box-right {
        font-size: 34px;
    }

    /* Fim - Inicio */

    /* Começo - Calculadora */
    .calc-container {
        padding: 26px 0 0 0;
    }

    /* Fim - Calculadora */
}

@media (max-width: 938px) {
    /* Começo - Inicio */

    .box-right {
        padding: 7px;
    }

    /* Fim - Inicio */

    /* Começo - Calculadora */
    .calc-input {
        padding: 0 30px 0 0;
    }

    .calc-input input {
        width: 100%;
        padding: 6px 14px 6px 40px;
    }

    /* Fim - Calculadora */
}



@media (max-width: 855px) {

    /* Começo - Inicio */

    #index {
        height: 150vh;
    }

    .box-right, .box-left {
        text-align: center;
        width: 80%;
        padding: 20px;
    }

    .container {
        height: 90%;
        padding: 150px 0 0 0;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }

    /* Fim - Inicio */

    /* Começo - Calculadora */
    /* Contexto */
    #calculator .container {
        padding: 80px 0 0 0;
    }

    .context {
        row-gap: 70px;
        flex-direction: column;
        align-items: center;
    }

    .context .box-left {
        padding: 8px;
        width: 80%;
    }

    .context .box-right {
        width: 80%;
        padding: 0;
    }

    .context p {
        font-size: 19px;
    }

    /* Calculadora */

    .info {
        width: 100%;
        margin: 0;
    }

    .info li {
        margin: 1% 0 0 5%;
    }

    .calc-container {
        padding: 30px 0;
        flex-direction: column-reverse;
    }

    .calc-input {
        width: 100%;
        padding: 0;
    }

    .calc-input input {
        border-radius: 50px;
        width: 70%;
    }

    .system {
        width: 100%;
        padding: 0;
    }

    .sys-sample {
        flex-wrap: wrap;
    }

    /* Fim - Calculadora */
}