html {
    scroll-behavior: smooth;
}

p {
    text-indent: 10px;
}

body {
    background-color: #646464;
}

/* INICIO - SECTION 1 - Inicio */

#index {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#ffffffc9, #00000045), url(../assets/img/cloud.jpg) no-repeat center;
    background-size: cover;
}

.container {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0 0 0;
}

.box-left {
    width: 55%;
}

.box-left>h1 {
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2d5a00;
}

.box-left>p {
    font-size: 30px;
}

.box-right {
    border-radius: 10px;
    background-color: var(--cor-principal);
    width: 35%;
    padding: 20px;
}

.box-right>h1 {
    font-size: 35px;
    margin: 0 0 2px 0;
    font-weight: bold;
}

.box-right>p {
    padding: 1%;
    font-size: 20px;
}

.box-left, .box-right {
    height: auto;
    color: #ffffff;
    font-size: 35px;
}



/* FIM - SECTION 1 - Inicio */


/* INICIO - SECTION 2 - Projetos */

#project {
    background: linear-gradient(#0017467a, #ebebeb24), url(../assets/img/campus.jpg) no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 97px 0 78px 0;
}

#project .container {
    align-content: flex-end;
    flex-wrap: wrap;
    row-gap: 65px;
    border-radius: 50px;
    padding: 30px 0 0 0;
    background-color: #ffa500;
}

/* Estilizando a sessão de projetos */
.context {
    width: 100%;
    column-gap: 80px;
    display: flex;
}

.context p {
    font-size: 20px;
}

.context h2 {
    font-size: 40px;
    text-align: center;
}

.proj-box {
    height: auto;
    width: 70%;
    margin: auto;
}

.proj-box a {
    color: #438104;
}

.proj-box a:hover {
    color: #38b313;
}

.proj-container {
    display: flex;
    height: 40%;
    width: 100%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.proj-container h2 {
    font-size: 33px;
    padding: 0 0 5px 0;
}

.proj-container iframe {
    border: 4px solid var(--cor-principal);
    border-radius: 4px;
    margin: 0 0 30px 0;
}

/* FIM - SECTION 2 - Projetos */



/* INICIO - SECTION 3 - Sobre Nós */

/* Sobre a equipe/empresa */
#about {
    height: auto;
    padding: 97px 0 5% 0;
    width: 100%;
    background-image: url(../assets/img/sunset.jpg);
    background-size: cover;
}

#about .container {
    height: 90%;
    border-radius: 50px;
    padding: 0;
    background-color: #ffae00;
    flex-direction: column;
    justify-content: space-between;
}

.about-team {
    padding: 30px;
    height: auto;
    width: 75%;
}

.about-team h2 {
    text-align: center;
    font-size: 32px;

}

.about-team p {
    padding: 5px 0;
    font-size: 18px;
}

/* Foto dos membros */
.about-card {
    border-radius: 0 0 50px 50px;
    height: 100%;
    padding: 40px 0;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #000000;
}

.about-card>h2 {
    font-size: 32px;
    padding: 0 0 27px 0;
}

.team-pic {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.team-pic figure {
    margin: auto;
    font-size: large;
}

.team-pic a {
    color: #000000;
}

.team-pic a:hover {
    color: #2c7e13;
}

.people-card {
    background-color: #ffa500;
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

/* FIM - SECTION 3 - Sobre Nós */


/* INICIO - FOOTER - Contato */

#footer {
    height: auto;
    width: 100%;
    background-color: var(--cor-principal);
}

#footer .container {
    padding: 30px;
    flex-direction: column;
    row-gap: 30px;
    color: #ffffff;
}

.footer-menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.menu-item {
    inline-size: 25%;
}

.menu-item>h4 {
    text-align: center;
    font-size: 27px;
}

.menu-item li {
    height: auto;
    width: 100%;
    font-size: 14px;
}

.social-icons {
    width: 31%;
    margin: auto;
    gap: 5px;
    display: flex;
    flex-flow: row wrap;
}

.social-icons a {
    font-size: 26px;
    color: #000000;
}

.copy {
    font-size: 15px;
    text-indent: 0;
    width: 70%;
    text-align: center;
}

/* FIM - FOOTER - Contato */



















/* Responsividade da página INDEX.html */

@media (max-width: 1149px) {

    /* Começo - Inicio */
    .box-left>p {
        font-size: 29px;
    }

    .box-right>p {
        padding: 1%;
        font-size: 19px;
    }

    .box-left, .box-right {
        font-size: 34px;
    }

    /* Fim - Inicio */

    /* Começo - Projetos */
    .proj-container {
        padding: 26px 0 0 0;
    }

    /* Fim - Projetos */
}

@media (max-width: 938px) {
    /* Começo - Inicio */

    .box-right {
        padding: 7px;
    }

    /* Fim - Inicio */

    /* Começo - Projetos */
    .proj-input {
        padding: 0 30px 0 0;
    }

    .proj-input input {
        width: 100%;
        padding: 6px 14px 6px 40px;
    }

    /* Fim - Projetos */
}



@media (max-width: 855px) {

    /* Começo - Inicio */

    #index {
        height: 150vh;
    }

    .box-right, .box-left {
        text-align: center;
        width: 80%;
        padding: 20px;
    }

    .container {
        height: 90%;
        padding: 150px 0 0 0;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }

    /* Fim - Inicio */

    /* Começo - Projetos */
    /* Contexto */
    #project .container {
        padding: 80px 0 0 0;
    }

    .context {
        row-gap: 70px;
        flex-direction: column;
        align-items: center;
    }

    .context .box-left {
        padding: 8px;
        width: 80%;
    }

    .context .box-right {
        width: 80%;
        padding: 0;
    }

    .context p {
        font-size: 19px;
    }

    /* Começo - Projetos */

    .info {
        width: 100%;
        margin: 0;
    }

    .info li {
        margin: 1% 0 0 5%;
    }

    .proj-container {
        padding: 30px 0;
        flex-direction: column-reverse;
    }

    .proj-input {
        width: 100%;
        padding: 0;
    }

    .proj-input input {
        border-radius: 50px;
        width: 70%;
    }

    .system {
        width: 100%;
        padding: 0;
    }

    .sys-sample {
        flex-wrap: wrap;
    }

    /* Fim - Projetos */

    /* Começo - Rodapé */
    .footer-menu {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .menu-item {
        width: 50%;
        text-align: center;
        inline-size: none;
    }

    .social-icons {
        width: auto;
        gap: 5px;
        display: block;
    }

    /* Fim- Rodapé */
}